@media (max-width: 768px) {
  .formContainer {
    height: 100vh; /* Adjust the height as needed */
  }

  .formGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }

  .formGroup > * {
    margin: 10px;
    width: 100%; /* Set the width to 100% to occupy the entire container */
  }

  .button {
    margin-top: 20px;
    width: 100%; 
    position: relative;
    /* Set the width to 100% to occupy the entire container */
    float: left; /* Remove the float property for mobile */
  }

  .icon{
    position: absolute;
    margin-left: 25px;
    margin-top: 15px;
    color: #b8b8b8;
  }
  
}

.root{
    height: auto;
}
.formContainer {
    height:75vh;
}

.formGroup {
  margin-top: 30px;
}

.formGroup > * {
  margin: 15px;
}

.title {
  font-weight: bold;
  text-align: center;
}

.button {
  margin-top: 30px;
  position: relative;
  float: right;
  width: auto;
}

.icon{
  position: absolute;
  margin-left: 25px;
  margin-top: 15px;
  color: #b8b8b8;
}
.price{
  
  background-color: black;
}