.container{
    
    transition: all 0.5s;
    border-radius: 17px;
}
.container:hover {
    transform: scale(1.05);
  }
.icon{
    position: absolute;
    bottom: 5%;
    right:3%;
    transition: all 0.5s;
    cursor: pointer;
}

.icon:hover{
    transform: scale(1.5);
}