
.contactSection {
    padding: 20px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.58);
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    border-radius: 20px;
    transition: all 0.5s;
    font-weight: bolder;
    color: black;
    width: 100%; /* Set the width to 100% */
    max-width: 700px; /* Set a maximum width if needed */
    margin-left: auto; /* Center the container horizontally */
    margin-right: auto;
    height: auto;
    padding: 10px;
  background-image: radial-gradient( circle farthest-corner at 92.3% 71.5%,  rgba(83,138,214,1) 0%, rgba(134,231,214,1) 90% );

  }
  .contactSection:hover {
    border: 1px solid black;
    transform: scale(1.05);
  }
  
  .contactSection:active {
    transform: scale(0.95);
  }
  
  .row{
    display: flex;
    justify-content: center;
  }


  .socialLinks {
    display: flex;
    justify-content: space-evenly;
  }
  
  .socialLinks a {
    display: inline-block;
    color: black;
    font-size: 24px;
  }
  
  .socialLinks a:hover {
    color: #0069d9;
  }
  
  .socialIcon {
    transition: color 0.3s ease;
  }

  .contactItem{
    margin-bottom: 10px;
  }